html {
  scroll-behavior: smooth;
}

.col-navbar {
    position: relative;
    float: left;
    width: 15rem;
    padding-right: 15px;
    padding-left: 15px;
}

@media(min-width:992px) {
  #sidebar {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 15rem;
  }
}

.profile-pic {
  height: 150px;
  width: auto;
  border: 5px solid rgb(166, 187, 186);
}

.nav-item-text {
  color: rgb(166, 187, 186);
}

.nav-item-text:hover {
  color: white;
}

.link-item {
  color: rgb(26, 15, 77);
}
.link-item:hover {
  color: rgb(166, 187, 186);
}

.name-header{
  font-size: 3.5em;
  font-weight: bold;
}

.section-header {
  font-size: 2.5em;
  font-weight: bold;
  color: rgb(110, 127, 126);
}

.subheading {
  font-size: 1.5rem;
  font-weight: bold;
}

.content-text {
  font-size: 1rem;
}

.education-heading {
  font-size: 1.15rem;
  font-style: italic;
}

.project-img {
  width: 200px;
  height: auto;
}

.custom-icon {
  height: 16px;
  width: auto;
  vertical-align: -1px;
}